body {
	background: url('../images/seigaiha/seigaiha.png') repeat;
	width: 100%;
}

#navbar {

}


#logo {
	background-color: #4aaaa5;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 30px;
  	font-weight: 700;
  	line-height: 1%;
  	color: #fff;
}

#connect {
	background-color: #666;
	font-size: 12px;
	color: 
	font-family: Georgia, Times, "Times New Roman", serif;
	background-color: #fff;
}

#footer {
	height: 20%
	font-size: 12px;
  	color: #fff;
  	color: #ccc;
  	text-align: center;
  	background-color: #666;
  	border-top: 8px solid #4aaaa5;
  	margin: 5%;
}

#aboutme {
	background-color: #fff;
}


@media screen and (max-width: 960px) {

}

@media screen and (max-width: 786px) {

}