body {
	background: url('../images/seigaiha/seigaiha.png') repeat;
	width: 100%;
	font-family: Georgia, Times, "Times New Roman", serif;
}

#navbar {
	background-color: #fff;
}


#logo {
	background-color: #4aaaa5;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 30px;
  	font-weight: 700;
  	color: #fff;
}

#connect {
	background-color: #666;
	font-size: 12px;
	background-color: #fff;
	color: #423F41;
}

#footer {
	height: 30%
	font-size: 12px;
  	color: #fff;
  	color: #ccc;
  	text-align: center;
  	background-color: #666;
  	border-top: 8px solid #4aaaa5;
  	margin-top: 5%;
}

#aboutme {
	background-color: #fff;
	color: #423F41;
}

#portfolio {
	background-color: #fff;
	color: #423F41;
}

#contact {
	background-color: #fff;
	color: #423F41;
}

.form-group {
	height: 75%;
	width: 75%
}

textarea {
	height: 75%;
	width: 75%;
}

button {
	margin-left: 5%
}

h4 {
	background-color: #4aaaa5;
	text-align: center;
	color: #fff;
	width: 150px;
	position: absolute;
	bottom: 25%;
	left: 26%;
}

.thumbnail {
	position: relative;
}

@media screen and (max-width: 960px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 640px) {

}

